*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(images/pink.jfif);
}

header{
    /*margin-top: 40px;
    margin-bottom: 40px;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    padding-top:90px;
    padding-bottom:20px;
    text-align: center;
    background-image: url(images/pop.png)
}
img{
    width: 400px;
}
.header{
    font-size: 60px;
    font-family: "Lobster", sans-serif;
}
.prag{
    font-size: 20px;
    font-family: "Lobster", sans-serif;
}
.nav-one ul{
     background-color:  rgba(195, 138, 228, 0.856);
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 20px;
    padding: 10px;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 15px;
}

.baner{
     background-color:  rgba(247, 187, 237, 0.856);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*align-items: center;*/
    margin-top: 20px;
}
.baner-img img {
  width: 450px;
  display: block;
  border-radius: 25px;
  justify-content: center;
}
.baner-img{
   padding-top:40px;
    padding-left:70px;
    padding-bottom: 20px;
    
}
.baner-text p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.baner-text p:nth-child(1){
    font-size: 18px;
}
.baner-text p:nth-child(2){
    font-size: 22px;
}
.baner-text p:nth-child(3){
    font-size: 30px;
}
.baner-text{
    padding: 150px;
    padding-left:20px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.continar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.continar div:nth-child(1){
     background-color:  rgba(160, 108, 151, 0.856);
    padding: 45px;
    text-align: center;
    color: #ffffff;
    outline: 3px solid #c8bece;
    outline-offset: -12px;
    font-size: 17px;
}
.continar div:nth-child(2){
     background-color:  rgba(252, 215, 244, 0.856);
    padding: 45px;
    text-align: center;
    color: #000;
    outline: 3px solid #9b7198;
    outline-offset: -12px;
    font-size: 17px;
}
.continar div:nth-child(3){
     background-color:  rgba(204, 161, 212, 0.856);
    padding: 45px;
    text-align: center;
    color: #ffffff;
    outline: 3px solid #ffffff;
    outline-offset: -12px;
    font-size: 20px;
}
.continar div:nth-child(4){
     background-color:  rgba(235, 47, 163, 0.856);
    padding: 45px;
    text-align: center;
    color: #000;
    outline: 3px solid #000;
    outline-offset: -12px;
    font-size: 20px;
}
.baner-dream{
     background-color:  rgba(250, 126, 178, 0.856);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.baner-dream .dream-text p{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    padding-left: 40px;
    text-align: center;
}
.dream-text p:nth-child(1){
    font-size: 40px;
    padding-bottom: 3px;

}
.dream-photo img{
  width: 200px;
  border-radius: 600px 550px 0 0;
  padding-right: 20px;
  padding-top: 20px;
}
.dream-photo{
     display:flex;
    justify-content: center;
}
.fov-things{
    text-align: center;
    font-family: initial;
    margin-top: 20px;
    font-family: "Lobster", sans-serif;
    color: rgb(247, 220, 239);
}
 .things{  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
 }
 .card{
    background-image: linear-gradient(rgb(236, 147, 222), rgb(128, 52, 214));
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0 ,0 ,0.08);
 }
 .card img{
    width: 150px;
    align-items: center;
    border-radius: 16px;
    margin-bottom: 12px;
 }
.card p{
    text-align: center;
    font-size: 17px;
}
footer{
    background-color: #f1b4ee;
    padding: 40px;
}
footer h1{
    text-align: center;
    padding: 10px;
}
footer h2{
    text-align: center;
    padding: 10px;
}
footer a{
    text-align: center;
    padding: 10px;
}
.footer{
    text-align: center;
    padding: 10px;
}
/*for skiil page*/
.achievements-contact{
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    gap: 40px;
    text-align: center;
    background-color:  rgba(247, 187, 237, 0.856);
    margin-top: 30px;
    margin-bottom: 30px;
}
.achievements-column-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
     padding: 20px;
    padding-left: 20px;
}
.achievements-column-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    padding-left: 20px;
}
.achievements-item{
    display: flex;
    gap: 15px;
    align-items:center;
    grid-column: auto;
    
    
}
.achievements-item img{
    width: 100px;
}
.achievements-image {
    display: flex;
flex-direction: column;
align-items: center;
gap: 30px
;
}
.achievements-image img:nth-child(1){
    width: 500px;
}
.achievements-image img{
height: 300px;
width: 500px;
}
.achievements-item p{
    font-size: 18px;
}
/*to do page*/
.lines{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
margin-top: 30px;
margin-bottom: 30px;
}
.line{
    background-image: linear-gradient(rgb(236, 147, 222), rgb(128, 52, 214));
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
 }
 .line img{
    width: 150px;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 12px;
 }
.line p{
    text-align: center;
    font-size: 17px;
}
/* life page*/
.bio{
    background-color:  rgba(247, 187, 237, 0.856);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    padding-top: 135px;
    padding-bottom:135px;
    padding-left: 450px;
    text-align: center;
    font-size: 20px;
    color: white;
    border-radius: 40px;
}
/*.childhood{
    width: 1000px;
}*/
.rows{
 display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
margin-top: 30px;
margin-bottom: 30px;   
}
.row-one{
    background-image: linear-gradient(rgb(236, 147, 222), rgb(128, 52, 214));
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}
.row-one p{
    text-align: center;
    font-size: 17px;
}
.row-one img{
    align-items: center;
    border-radius: 8px;
    margin-bottom: 12px;
}
/*form page*/
.form{
    
    width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 50px;
    padding: 30px;
    background-color:  rgba(253, 134, 233, 0.856);
}

.form-one{
    padding-top:10px ;
    padding-bottom: 10px;
}
.form-two{
    display: inline;
    padding-top:10px ;
    padding-bottom: 10px;
}
label{
    display: block;
    padding-top:10px ;
    padding-bottom: 10px;
}

.aform{
    width: 550px;
    height: 30px;
}
textarea{
   width: 450px;
    height: 80px; 
}
button{
    align-items: center;
    width: 80px;
    height: 35px;
}
.h1{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
